<section class="py-5">
	<div class="container">
		<div class="row">
			<div class="col-md-5">
				<h2 class="display-5 fw-bold">HAKKIMIZDA</h2>
			</div>
			<div class="col-md-6 offset-md-1">
				<p class="lead">Kütüphane Yönetim Sistemi, kullanıcıların kütüphane koleksiyonlarını dijital ortamda daha verimli bir şekilde yönetmelerine olanak tanıyan, basit ve kullanıcı dostu bir platformdur. MVC (Model-View-Controller) mimarisi ile geliştirilmiş olan bu sistem, hem kütüphane çalışanlarına hem de bireysel kullanıcılara yönelik bir çözüm sunmaktadır.</p>
				<p class="lead">
					Sistem, aşağıdaki temel özellikleri içerir:

					Kitap Ekleme: Kullanıcılar yeni kitapları sisteme ekleyebilir ve her kitap için yazar, kitap adı, detayları ve sayfa sayısı gibi bilgileri girebilirler. Bu sayede kitapların kolayca takip edilmesi sağlanır.
					Kitap Bilgileri: Sistemde mevcut kitapların detaylı bilgilerine ulaşabilirsiniz. Kitapların yazarı, sayfa sayısı ve diğer önemli detayları kullanıcıların hizmetine sunulmuştur.
					Kullanıcı Kayıt ve Giriş: Sisteme giriş yaparak mevcut kitapları inceleyebilir ya da yeni kitaplar ekleyebilirsiniz. Henüz bir hesabınız yoksa, hızlı ve kolay bir şekilde kayıt olabilirsiniz.
				</p>
				<p class="lead">Bu yönetim sistemi, kitapların organize edilmesini ve kütüphane kaynaklarının yönetimini kolaylaştırarak, kitaplara ulaşımı hızlı ve etkili bir hale getirmeyi hedefler. Kullanıcı dostu arayüzü ve işlevsel özellikleri ile kütüphane deneyimini dijital ortama taşır.</p>
			</div>
		</div>
	</div>
</section>