




<section class="py-5">
    <nav class="navbar navbar-expand-lg bg-light">
        <div class="container">
            
                <ul class="navbar-nav ms-lg-3 mb-1">
                    <li class="nav-item ms-lg-4">
                        <a asp-controller="Home" asp-action="Content" class="nav-link" >Hakkında</a>
                    </li>
                    <li class="nav-item ms-lg-4">
                        <a asp-controller="Book" asp-action="List"  class="nav-link" >Kitaplara Erişim</a>
                    </li>
                    <li class="nav-item ms-lg-4">
                        <a asp-controller="Book" asp-action="Add"  class="nav-link" >Yeni Kitap Ekle</a>
                    </li>
                    <li class="nav-item ms-lg-4">
                        <a asp-controller="Author" asp-action="Author"  class="nav-link" >Yazarlara Erişim</a>
                    </li>
                    <li class="nav-item ms-lg-4">
                        <a asp-controller="Author" asp-action="Add"  class="nav-link" >Yeni Yazar Ekle</a>
                    </li>
                    <li class="nav-item ms-lg-4">
                        <a asp-controller="Home" asp-action="Contant"  class="nav-link" >İletişim</a>
                    </li>
                </ul>
                
            </ul><a <a asp-controller="Auth" asp-action="SignIn" class="btn btn-primary mb-2 mb-lg-0" >Giriş Yap </a>
                 </ul><a <a asp-controller="Auth" asp-action="SignUp" class="btn btn-primary mb-2 mb-lg-0" >Kayıt Ol </a>
                 </ul><a <a asp-controller="Auth" asp-action="SignOut" class="btn btn-primary mb-2 mb-lg-0" >Çıkış Yap </a>
            </div>
        </div>
    </nav>
</section>




<section class="py-5">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-md-8">
                <div class="text-center">
                    <h2 class="display-5 fw-bold">MVC Kütüphane Yönetim Sistemine Hoşgeldiniz!</h2>
                    <p class="lead"> Kütüphane Yönetim Sistemimize hoş geldiniz! Bu platform, kütüphane koleksiyonlarını kolayca yönetebilmeniz ve dijital ortamda kitaplara hızlıca ulaşabilmeniz için tasarlanmıştır. Kitap ekleme, mevcut kitapların detaylarını inceleme ve kullanıcı giriş işlemleri gibi çeşitli özelliklerle kütüphane deneyiminizi daha verimli hale getiriyoruz.</p>
                    <hr class="my-4" />
                    <p class="lead">Eğer bir hesabınız yoksa, hızlıca Kayıt Ol butonuna tıklayarak üye olabilir ve kitap ekleme veya görüntüleme işlemlerine hemen başlayabilirsiniz. Eğer zaten bir hesabınız varsa, Giriş Yap bölümünden hesabınıza erişebilirsiniz.</p>
                </div>
            </div>
        </div>
    </div>
</section>


